# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# OS/editor
.DS_Store
.vscode/
.idea/
